@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
:root {
	--second-font: 'Noto Sans Mono', monospace;
	--header-height: 3rem;
	/*========== Colors ==========*/
	--first-color: #5757e0;
	--first-color-second: #5757e0;
	--first-color-alt: #4343cb;
	--first-color-lighter: #b6b6fc;
	--first-color-lighter-dark: #232329;
	--title-color: #232329;
	--text-color: #6a6a7c;
	--text-color-light: #9f9fad;
	--input-color: #fceeee;
	--body-color: #fbfbfe;
	--container-color: #FFF;
	--white-color: var(--container-color);
	--black-color: #000;
	--scroll-bar-color: #e2e2e9;
	--scroll-bar-thumb-color: #c6c6d2;
	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--second-font: 'Orbitron', sans-serif;
	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--biggest-font-size: 4rem;
	--bigger-font-size: 3rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;
	/*========== Margins Bottom ==========*/
	/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.25rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Font size for large devices */

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 5rem;
		--bigger-font-size: 4rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*==================== BASE ====================*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.date, #date {
	font-family: var(--second-font);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0 0 var(--header-height) 0;
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1 {
	/* display: none; */
	user-select: none;
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

a {
	text-decoration: none;
}

ul {
	list-style: circle;
	margin-left: var(--mb-1-5);
}

img {
	max-width: 100%;
	height: auto;
}

.label {
	font-weight: 500;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
	padding: 2rem 0 4rem;
}

.section__title {
	font-size: var(--h3-font-size);
	color: var(--text-color-light);
}

.section__subtitle {
	display: block;
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle {
	text-align: center;
}

/*==================== LAYOUT ====================*/

.bd-container {
	max-width: 968px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.bd-grid {
	display: grid;
	gap: 1rem;
}

.l-header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
}

.l-main {
	padding: var(--mb-1);
}

.section__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-2);
}

.section__list {
	margin: var(--mb-0-25) 0;
}

.wrapper__subtitle {
	color: var(--black-color);
	font-display: var(--h3-font-size);
}

.bold, #bold {
	font-weight: var(--font-semi-bold);
}

/*==================== HOME SECTION ====================*/

.home__img {
	margin: auto;
	display: block;
	border-radius: 50%;
	margin-bottom: var(--mb-1);
}

.home__text {
	display: none;
}

.home__profession, .home__container {
	margin-bottom: var(--mb-1);
}

#home__title {
	font-size: var(--h1-font-size);
	color: var(--black-color);
	font-weight: 800;
}

#home__subtitle {
	font-weight: 600;
	font-size: var(--h1-font-size);
	color: var(--first-color);
}

#home__description {
	margin-top: var(--mb-0-5);
}

#home__title, #home__subtitle {
	text-transform: uppercase;
}

#home__title, #home__subtitle, #home__description {
	text-align: center;
}

.location__container {
	row-gap: var(--mb-1);
}

#wrapper__title {
	text-transform: capitalize;
	font-size: var(--h3-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--black-color);
}

#url {
	font-size: var(--smaller-font-size) !important;
}

#section__description {
	margin: var(--mb-1) 0;
}

.date {
	margin: var(--mb-0-5) 0;
}

#experience__info {
	font-family: var(--body-font);
}

@media screen and (max-width: 330px) {
	.bd-container {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}
}

@media screen and (min-width: 768px) {
	.bd-container {
		margin: auto;
	}
	.container__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: var(--mb-1);
	}
	.home {
		display: grid;
		grid-column: 1/3;
		align-items: center;
		justify-items: flex-start;
	}
	.home__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: flex-start;
	}
	.home__profession {
		margin-right: 2.5rem;
	}
	.home__profession, .home__container {
		margin-bottom: 0;
	}
	.section__title {
		margin-bottom: var(--mb-2-5);
		text-align: left;
	}
	#home__title, #home__subtitle, #home__description {
		text-align: initial;
	}
	#url {
		font-size: var(--normal-font-size) !important;
	}
}

@media print {
	.bd-container {
		margin: auto;
	}
	.container__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: var(--mb-1);
	}
	.home {
		display: grid;
		grid-column: 1/3;
		align-items: center;
		justify-items: flex-start;
	}
	.home__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		justify-items: flex-start;
	}
	.home__profession {
		margin-right: 2.5rem;
	}
	.home__profession, .home__container {
		margin-bottom: 0;
	}
	.section__title {
		margin-bottom: var(--mb-2-5);
		text-align: left;
	}
	#home__title, #home__subtitle, #home__description {
		text-align: initial;
	}
	#url {
		font-size: var(--normal-font-size) !important;
	}
}